<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Version" value="779"/>
    <add key="TimeOut" value="60000"/>
    <add key="LogFileName" value="Log.txt"/>
    <!-- your Developer Id with eBay -->
    <add key="Ebay.DevId" value="e8a7a3ec-a841-4b6a-9bf8-fd8282ac0879"/>
    <!-- your Application Id with eBay -->
    <add key="Ebay.AppId" value="DaoLam-SmartHub-SBX-569e0185b-dddc3146"/>
    <!-- your Application Certificate with eBay -->
    <add key="Ebay.CertId" value="SBX-69e0185ba9c3-c071-4aa3-91f5-b413"/>
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Ebay.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/>
    <!-- EPS Server URL -->
    <!-- For production site use: https://api.ebay.com/ws/api.dll"/-->
    <add key="Ebay.EpsServerUrl" value="https://api.sandbox.ebay.com/ws/api.dll"/>
    <!-- eBay Signin URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <add key="Ebay.SignInUrl" value="https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn"/>
    <!-- ViewItem URL -->
    <!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <add key="Ebay.ViewItemUrl" value="http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0}"/>
    <!-- token is for both API server and EPS server -->
    <!-- TESTUSER_SmartHub1 / smarthubdev123* -->
    <add key="UserAccount_SmartHub1.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**KmkxWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GkCpCDpwWdj6x9nY+seQ**2jcEAA**AAMAAA**3xdrhPaoHDpCc4T4ZhUaMdkXzYJ28nR4oqtjDqdJHQByo5FRVXW3s5e4dQPr/MRe9eqPLt5XBFe6xPDscTjWkTeh3RXoYyrG5SEMux4rcxbsFZXdbWttgWyNrJ02ToIXVrbUwNvBcj07d6NOA+anJlBLIt7QiAnc7qYflDrgCoSDsFCGwcl743cjz7YRWjaWeSeHo169t1eJEpip0hul/BAltxGqa8CTg1s5xxtq/sU5DE6hlwki2+fWeOPWdeD5DDpvSmWM183/Q+tQ7gHIeAACHK8tJuOqhcx9XRKRYaRPL61Lfooh5gRMDuPL/DE530NZwzfAaT7WmPbY2A7bBu1r8P/89b/Eezz6ecitTp38I+jU13vPpZZTb8oQsUIZsqdEgVuhfmTIN2DajYAQTJ8OZaMnBN/HVXzl3dcrdOyMBRViHU/QRd21vfcQrxioxh33HBszFKGRPL/e7pSOh4IAYfwXWJaZXBvW7mbhQFpJ+6DPqwcSDaSx3GU/6wjuS4nhEy4uKE6o1+/JP0tkRrZPt2srH4KhWLrJN4kKo4rZcIWGQdDnNoTLW4chbVmDhlSr+hsxXNAuahLqjy6xjI0R/csf1KduSnugZVJK9waQ/BUb4lWK9oRY2qZsFoaSY4sfnvcCG7eRL9TIrC3FynBDIdYc5/BJMn7LM1Fz/pqzwWI9F0So9lZ9A++qGtxO2RyfeR6H35OgXplDx0vGgvGS5+IiWh6X1183ciViaDhVFSoqehi/M913tsW2Gw9z"/>
    <!-- TESTUSER_SmartHub2 / smarthubdev123* -->
    <add key="UserAccount_SmartHub2.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**2WkxWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GkCpCDpgydj6x9nY+seQ**2jcEAA**AAMAAA**sT909UWaP5coBJyPpxo1ZOATVxFp+IbtgylI87oW0gawIiW+/No1uEqKumgYugmzuYFKNc26LHZwR9MahFfcodVuzH/HvZujCaYewZrISwprSHNrSGDE4zLPbzcb32fhTUhn3B9TIis3tR+/0quFQNGMzqBtcpQp5D91vgc9/bN2hwIMupV9UobJARr09GdzJKl4eiyTRfSom11jAs3VKiQkkOLzfZ5rCDqgIJLT3E7AKt4X3EwJg9P9gDThejZZSu6ymWF4KEZiJMSMH4tsl1QdnuIA0xbXMqMuUzrY1ZhN8p6N4EdtRl2peWTwdBGiJpj1PJ83VzMp+GYDN7YD02F8emo6sQYg/4AJqVXsf7KG6b9mArIrs5y7p8LNEv0hwxQMasKhFdgtHGHnLnVoD0QKgxDpekkdBz19zKpkjA3hh87hbs10sn/1lVnAE3TwCYcUu90ibuEKp79Jy5qexeDGwu9stN4wfWDBLtROOZL6wJQIdYenjUvl3vmnrrhwJj+fMmAatqxQonQyrOBKGMW1/iUHpSQQg2jisweFlfN0AZ6cz/vjhMs+Aqu4ggjJBaEkcfgI0fBrxS6n2E/qWSaAMizhs9Rdc4IzMtBd+jj6y/jDISDyd1z/bKDsvhh8lwjOy5i6V//rjOjq6wojfNHJdmwsRkm1O2R5+A9BIseN13HayVdIgTSRgonU+jUdtYDjME/Lkctwcrxacv9lSx0yTIyfjb44UXpsaPjJ6CKlYd8GHF5NZwn5cFCxxRbP"/>
    <!-- eBay site ID -->
    <add key="UserAccount.eBayUserSiteId" value="0"/>
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
    <!-- Rule Name-->
    <add key="Ebay.RuName" value="Dao_Lam-DaoLam-SmartHub-ktbsezp"/>
    <!-- Set this if you access eBay API server behind a proxy server-->
    <add key="Proxy.Host" value=""/>
    <add key="Proxy.Port" value=""/>
    <!-- set proxy server username/password if necessary-->
    <add key="Proxy.Username" value=""/>
    <add key="Proxy.Password" value=""/>
  </appSettings>
</configuration>