<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--BEGIN System Configuration-->
    <add key="WorkerCount" value="1" />
    <add key="ConnectionCheckIntervalInMinutes" value="5" />
    <add key="ConcurrencyConnection" value="5" />
    <add key="EbayMagentoTaskIntervalInMinutes" value="10" />
    <add key="EmailMagentoTaskIntervalInMinutes" value="10" />
    <!--END System Configuration-->
    
    <!--BEGIN Magento Configration-->
    <!--END Magento Configration-->
    
    <!--BEGIN Ebay Configuration-->
    <!-- your Developer Id with eBay -->
    <add key="Ebay.DevId" value="e8a7a3ec-a841-4b6a-9bf8-fd8282ac0879" />
    <!-- your Application Id with eBay -->
    <!-- For production site use: DaoLam-SmartHub-PRD-c8e01d5e3-68e335cd -->
    <!-- For Sandbox use: DaoLam-SmartHub-SBX-569e0185b-dddc3146 -->
    <add key="Ebay.AppId" value="DaoLam-SmartHub-PRD-c8e01d5e3-68e335cd" />
    <!-- your Application Certificate with eBay -->
    <!-- For production site use: PRD-8e01d5e3a9e4-373c-4a8e-9be6-93fe -->
    <!-- For Sandbox use: SBX-69e0185ba9c3-c071-4aa3-91f5-b413 -->
    <add key="Ebay.CertId" value="PRD-8e01d5e3a9e4-373c-4a8e-9be6-93fe" />
    <!-- Rule Name-->
    <!-- For production site use: Dao_Lam-DaoLam-SmartHub-rkkgd -->
    <!-- For Sandbox use: Dao_Lam-DaoLam-SmartHub-ktbsezp -->
    <add key="Ebay.RuName" value="Dao_Lam-DaoLam-SmartHub-rkkgd" />
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Ebay.ApiServerUrl" value="https://api.ebay.com/wsapi" />
    <!-- eBay Sign In URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- For Sandbox use: https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->    
    <add key="Ebay.SigninUrl" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn" />
    <!--END Ebay Configuration-->
    
    <!--BEGIN Gmail Configuration-->
    <add key="Gmail.ClientId" value="320617779792-i08qlis2bc4qr353vck1faie3kt6bpd7.apps.googleusercontent.com" />
    <add key="Gmail.ClientSecret" value="v2b47O3lCMqjVfDjbroPk1Yy" />
    <add key="Gmail.RedirectUri" value="https://localhost:44359/ServiceConnection/GoogleOAuth" />
    <!--END Gmail Configuration-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SmartHubDbContext" connectionString="Server=DAOLAM-PC;Initial Catalog=SmartHub;Persist Security Info=False;User ID=smarthub;Password=smarthub;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="HangfireDbConnection" connectionString="Server=DAOLAM-PC;Initial Catalog=SmartHub_Hangfire;Persist Security Info=False;User ID=smarthub;Password=smarthub;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>