<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!--BEGIN Gmail Configuration-->
        <add key="Gmail.ClientId" value="320617779792-i08qlis2bc4qr353vck1faie3kt6bpd7.apps.googleusercontent.com" />
        <add key="Gmail.ClientSecret" value="v2b47O3lCMqjVfDjbroPk1Yy" />
        <add key="Gmail.RedirectUri" value="https://localhost:44359/ServiceConnection/GoogleOAuth" />
        <!--END Gmail Configuration-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>